[project]
	description = Hello Git World sample training repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ken Petti (citizenken)
[access "refs/for/refs/*"]
	read = group user/Ken Petti (citizenken)
	push = group user/Ken Petti (citizenken)
	label-Code-Review = -2..+2 group user/Ken Petti (citizenken)
	label-Verified = -1..+1 group user/Ken Petti (citizenken)
	rebase = group user/Ken Petti (citizenken)
	removeReviewer = group user/Ken Petti (citizenken)
	submit = group user/Ken Petti (citizenken)
[access "refs/heads/*"]
	read = group user/Ken Petti (citizenken)
	create = group user/Ken Petti (citizenken)
	push = +force group user/Ken Petti (citizenken)
	pushMerge = group user/Ken Petti (citizenken)
[access "refs/tags/*"]
	push = +force group user/Ken Petti (citizenken)
	pushTag = group user/Ken Petti (citizenken)
	pushSignedTag = group user/Ken Petti (citizenken)
